.buttons-container {
  position: sticky;
  bottom: 0;
  background: var(--ion-background-color);
  padding: 16px 0;
  border-top: 1px solid var(--ion-color-light);
}

ion-list {
  background: transparent;
}

ion-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-label h3 {
  margin-bottom: 4px;
}

ion-label p {
  margin: 2px 0;
}