rules_version = '2';
  service cloud.firestore {
  match /databases/{database}/documents {

  function isSignedIn() {
    return request.auth != null;
  }

  function userDoc() {
    return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
  }

  function userExists() {
    return exists(/databases/$(database)/documents/users/$(request.auth.uid));
  }

  function hasProfile() {
    return isSignedIn() && userExists();
  }

  function role() {
    return userDoc().role;
  }

  function clinicId() {
    return userDoc().clinicId;
  }

  function sameClinic(data) {
    return data.clinicId == clinicId();
  }

  function isAdmin() {
    return role() == 'admin';
  }

  function isSuperAdmin() {
    return role() == 'superadmin';
  }

  function sameClinicPath(clinicIdDoc) {
    return hasProfile() && clinicIdDoc == clinicId();
  }

  /* ================= CLINICS ================= */

  match /clinics/{clinicIdDoc} {

    allow read: if isSuperAdmin() ||
                sameClinicPath(clinicIdDoc);

    allow create, update, delete: if isSuperAdmin();

  }

  /* ================= USERS ================= */

  match /users/{userId} {

    // Leer su propio perfil
    allow read: if request.auth != null &&
             (
               request.auth.uid == userId ||
               isSuperAdmin()
             );

    // Crear usuarios solo superadmin
    allow create: if isSuperAdmin();

    // Usuario puede editar su perfil
    // pero no role ni clinicId
    allow update: if request.auth.uid == userId
                  &&
                  !request.resource.data
                    .diff(resource.data)
                    .affectedKeys()
                    .hasAny([
                      'role',
                      'clinicId',
                      'createdAt'
                    ]);

    // Superadmin puede modificar todo
    allow update, delete: if isSuperAdmin();
  }

  /* ================= PACIENTES ================= */

  match /pacientes/{id} {

    allow read: if hasProfile() && sameClinic(resource.data);

    allow create: if hasProfile() &&
                  sameClinic(request.resource.data) &&
                  request.resource.data.professionalId == request.auth.uid;

    allow update: if hasProfile() &&
                  sameClinic(resource.data) &&
                  (isAdmin() ||
                  resource.data.professionalId == request.auth.uid);

    allow delete: if hasProfile() &&
                  sameClinic(resource.data) &&
                  isAdmin();

  }

  /* ================= SESIONES ================= */

  match /sesiones/{id} {

    allow read: if hasProfile() && sameClinic(resource.data);

    allow create: if hasProfile() &&
                  sameClinic(request.resource.data);

    allow update: if hasProfile() &&
                  sameClinic(resource.data) &&
                  (isAdmin() ||
                  resource.data.professionalId == request.auth.uid);

    allow delete: if hasProfile() &&
                  sameClinic(resource.data) &&
                  isAdmin();

  }


   /* ================= EJERCICIOS GLOBALES ================= */

  match /ejercicios_globales/{id} {

    allow read: if true;

    allow create: if hasProfile();

  }

  /* ================= EJERCICIOS CLINICA ================= */

  match /clinics/{clinicIdDoc}/ejercicios/{id} {

    allow read: if sameClinicPath(clinicIdDoc);

    allow create: if sameClinicPath(clinicIdDoc);

    allow update: if sameClinicPath(clinicIdDoc);

    allow delete: if sameClinicPath(clinicIdDoc) &&
                  isAdmin();

  }

  /* ================= TEST TEMPLATES ================= */

  match /testTemplates/{id} {

    allow read: if hasProfile();

    allow create, update, delete: if hasProfile() &&
      request.resource.data.clinicId == clinicId();

    }

    /* ================= TRATAMIENTOS ================= */

    match /tratamientos/{id} {

      allow read: if hasProfile() &&
                  resource.data.clinicId == clinicId();

      allow create: if hasProfile() &&
                    request.resource.data.clinicId == clinicId();

      allow update: if hasProfile() &&
                    resource.data.clinicId == clinicId();

      allow delete: if hasProfile() &&
                    resource.data.clinicId == clinicId() &&
                    isAdmin();
    }


    /* ================= EVOLUCIONES ================= */

    match /evoluciones/{id} {

      allow read: if hasProfile() &&
                  resource.data.clinicId == clinicId();

      allow create: if hasProfile() &&
                    request.resource.data.clinicId == clinicId();

      allow update: if hasProfile() &&
                    resource.data.clinicId == clinicId();

      allow delete: if hasProfile() &&
                    resource.data.clinicId == clinicId() &&
                    isAdmin();

    }

    /* ================= RUTINAS TEMPLATE ================= */

    match /clinics/{clinicIdDoc}/rutinas_templates/{id} {

      allow read: if sameClinicPath(clinicIdDoc);

      allow create: if sameClinicPath(clinicIdDoc);

      allow update: if sameClinicPath(clinicIdDoc);

      allow delete: if sameClinicPath(clinicIdDoc) &&
                    isAdmin();

    }

    /* ================= RUTINAS PACIENTE ================= */

    match /clinics/{clinicIdDoc}/rutinas_paciente/{id} {

        // acceso interno (staff)
        allow read: if sameClinicPath(clinicIdDoc);

        // acceso público por token
        allow read: if resource.data.publicEnabled == true;

        allow create: if sameClinicPath(clinicIdDoc);

        allow update: if sameClinicPath(clinicIdDoc);

        allow delete: if sameClinicPath(clinicIdDoc) &&
                      isAdmin();
      }

    /* ================= SESIONES RUTINA ================= */

    match /clinics/{clinicIdDoc}/rutinas_paciente/{rutinaId}/sesiones/{id} {

      allow read: if sameClinicPath(clinicIdDoc);

      allow create: if sameClinicPath(clinicIdDoc) &&
              request.resource.data.clinicId == clinicIdDoc;

      allow update: if sameClinicPath(clinicIdDoc);

      allow delete: if sameClinicPath(clinicIdDoc) &&
                    isAdmin();

    }

    /* ================= SESIONES RUTINA ================= */

    match /clinics/{clinicIdDoc}/rutina_sesiones/{id} {

      allow read: if sameClinicPath(clinicIdDoc);

      allow create: if
            sameClinicPath(clinicIdDoc)
            ||
            (
              request.auth == null
              &&
              request.resource.data.publicToken != null
              &&
              exists(
                /databases/$(database)/documents/clinics/$(clinicIdDoc)/rutinas_paciente/$(request.resource.data.rutinaId)
              )
              &&
              get(
                /databases/$(database)/documents/clinics/$(clinicIdDoc)/rutinas_paciente/$(request.resource.data.rutinaId)
              ).data.publicToken
              ==
              request.resource.data.publicToken
            );

      allow update: if sameClinicPath(clinicIdDoc);

      allow delete: if sameClinicPath(clinicIdDoc) &&
                    isAdmin();

    }

    /* ================= LOGS RUTINA ================= */

    match /clinics/{clinicIdDoc}/rutina_logs/{id} {

      allow read: if sameClinicPath(clinicIdDoc);

      allow create: if
            sameClinicPath(clinicIdDoc)
            ||
            (
              request.auth == null
              &&
              request.resource.data.publicToken != null
              &&
              exists(
                /databases/$(database)/documents/clinics/$(clinicIdDoc)/rutinas_paciente/$(request.resource.data.rutinaId)
              )
              &&
              get(
                /databases/$(database)/documents/clinics/$(clinicIdDoc)/rutinas_paciente/$(request.resource.data.rutinaId)
              ).data.publicToken
              ==
              request.resource.data.publicToken
            );

      allow update: if sameClinicPath(clinicIdDoc);

      allow delete: if sameClinicPath(clinicIdDoc) &&
                    isAdmin();

    }
   }
  }