<ion-header>
  <ion-toolbar>
    <ion-title>Asignar Rutina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-list-header>
      Plantillas disponibles
    </ion-list-header>

    <ion-item
      *ngFor="let template of templates"
      (click)="seleccionarTemplate(template)"
      button>

      <ion-label>

        <h2>{{ template.nombre }}</h2>

        <p>{{ template.descripcion }}</p>

        <p>{{ template.ejercicios.length }} ejercicios</p>

      </ion-label>

      <ion-icon
        *ngIf="templateSeleccionado?.id === template.id"
        name="checkmark-circle"
        slot="end">
      </ion-icon>

    </ion-item>

  </ion-list>

  <!-- BOTON ASIGNAR -->

  <ion-button
    expand="block"
    style="margin:24px"
    [disabled]="!templateSeleccionado"
    (click)="asignar()">

    Asignar rutina

  </ion-button>

</ion-content>