.documentos-list {
  margin-top: 20px;
}

.documento-item {
  margin-bottom: 10px;
  
  ion-thumbnail {
    --size: 80px;
    
    img {
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

.empty-state {
  padding: 40px 0;
  
  ion-icon {
    margin-bottom: 15px;
    opacity: 0.5;
  }
  
  h3 {
    color: var(--ion-color-medium);
    margin-bottom: 10px;
  }
  
  p {
    color: var(--ion-color-medium);
  }
}


:host {
  --ion-safe-area-top: 20px; /* Puedes ajustar este valor */
}

ion-header {
  padding-top: var(--ion-safe-area-top, 0);
}

ion-toolbar {
  --min-height: calc(56px + var(--ion-safe-area-top, 0));
  min-height: var(--min-height);
}

/* Bajar solo el botón de volver */
ion-buttons[slot="start"] {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 12px;
}