<ion-header>
  <ion-toolbar>
    <ion-title>Editar Rutina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rutina">

<!-- Nombre rutina -->

<ion-item>
  <ion-input
    label="Nombre rutina"
    [(ngModel)]="rutina.nombre">
  </ion-input>
</ion-item>


<!-- SELECTOR DE EJERCICIOS -->

<app-ejercicio-picker
  (ejercicioSeleccionado)="agregarEjercicio($event)">
</app-ejercicio-picker>


<!-- LISTA DE EJERCICIOS DE LA RUTINA -->

<ion-list>

  <ion-item *ngFor="let ej of rutina.ejercicios; let i = index">

    <ion-label>

      <h2>{{ ej.nombre }}</h2>

      <ion-grid>

        <ion-row>

          <ion-col>

            <ion-input
              type="number"
              label="Series"
              [(ngModel)]="ej.series">
            </ion-input>

          </ion-col>

          <ion-col>

            <ion-input
              type="number"
              label="Reps"
              [(ngModel)]="ej.repeticiones">
            </ion-input>

          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-label>

    <ion-button
      color="danger"
      fill="clear"
      (click)="eliminarEjercicio(i)">

      <ion-icon name="trash"></ion-icon>

    </ion-button>

  </ion-item>

</ion-list>

</ion-content>


<ion-footer>
  <ion-toolbar>

    <ion-button
      expand="block"
      (click)="guardar()">

      Guardar rutina

    </ion-button>

  </ion-toolbar>
</ion-footer>