#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
}

#container h2 {
  margin: 20px 0;
  color: var(--ion-color-primary);
}

#container p {
  margin-bottom: 30px;
}

ion-card {
  margin: 20px 0;
}